django=1.11.4
MySQL-python
django-wysiwyg
django-ckeditor
django-registration-redux
django-tinymce
python-dotenv
bunch
django-formset-js-improved
django-extra-views
django-template-debug
django-crispy-forms
Pillow
