{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
{% crispy form %}



{% block head_title %}Contenidos del OA | {{ block.super }}{% endblock %}
{% block style %}

.center {
    margin: auto;
    width: 10%;
    padding: 10px;
}

{% endblock %}

{% block jumbotron %}


{% endblock %}

{% block content %}

{% csrf_token %}

<table>





          <form id="myForm" method="POST" action="{%url 'adoa:guardarcontenidosOA'%}">
            {% csrf_token %}
              {{ formset.management_form }}
              <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                      {% for form in formset.forms %}
                      {% crispy form %}


                        {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                      </tr>

                      {% endfor %}
                  </tbody>
              </table>

              <div class='well'><center><button type='submit' class='btn btn-success' >Guardar y contiunar</button></center></div>
          </form>



      </table>
    {% endblock %}
