{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}">


<title>{% block head_title %}ADOA{% endblock %}</title>

{% include 'head_css.html' %}

<style>
{% block style %}{% endblock %}
</style>


</head>

<body>
{% include 'navbar.html' %}

{% block jumbotron %}
          
            {% endblock %}
    <div class="container">
                      
            {% block content %}

            {% endblock %}
              

    </div> <!-- /container -->
	<br>





<footer> 
   <div class="container">
    <div class="row">
      <br>
      <div>
      <p class="muted pull-right">© 2017 UNLa. All rights reserved</p> 
      </div>
      <div>
      <p class="muted pull-left">Ambiente de Desarrollo de Objetos de Aprendizaje</p>  
      </div>
      </br>
  </div>
</div>
</footer>
<!-- FOOTER -->


<!-- / FOOTER -->
    {% include "javascript.html" %}
    
    
  </body>
</html>