{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% crispy form %}



<!DOCTYPE html>

{% block head_title %}Crear OA | {{ block.super }}{% endblock %}

{% block jumbotron %}
 {% if not request.user.is_authenticated %}
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
       <!--  <div class="col-xs12"><img src="{% static 'img/index/redes.png' %}" class="img-responsive" alt="Placeholder image"> </div> -->
      </div>
    </div>
  </div>
 {% endif %}
{% endblock %}

{% block content %}

{% if  request.user.is_authenticated %}
<form method='POST' action='{%url 'inicioOA'%'>
  <table border="0" cellpadding="0" cellspacing="0"> <!-- patron", "titulo" , "descripcion"] -->
	{% csrf_token %}
  <!-- {% crispy form  %} -->
  <h1>Patrón</h1>
  {{form.patron}}
  <li><a href = "{% url 'patrones' %}">¿Qué patrón elegir? </a></li>
  <h1>Título</h1>
  {{form.titulo}}
  <h1>Descripción</h1>
  {{form.descripcion}}
  
  </table>
  <br>  
  <div>
  <center><button type='submit' class='btn btn-success' >Guardar y contiunar</button></center>
</div>
</form>

{% else %}

<p>Por favor, inicie sesion para continuar</p>
{% endif %}
{% endblock %}