   {% load staticfiles %}

   <!-- Static navbar -->

    <nav class="navbar navbar-default ">

      <div class="container">


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div id="navbar" class="navbar-collapse collapse">
<div><a class="navbar-brand" href="{% url 'adoa:index' %}"><img src="{% static 'img/index/logov3.8.png' %}"  WIDTH=60, HEIGTH=60  /></a></div>
          <ul class="nav navbar-nav">

            <li><a href="{% url 'adoa:index' %}">Home</a></li>
            <li><a href="">¿Quiénes somos?</a></li>
            <li><a href="">Contacto</a></li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'adoa:index' %}">Bienvenido {{ user.get_username }}</a></li>
            <li><a href="{% url 'adoa:auth_logout' %}">Cerrar Sesión</a></li>
            {% else %}
            <li><a href="{% url 'adoa:registration_register' %}">Registrarse</a></li>
            {% endif %}
          </ul>

          {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
            <form class='navbar-form navbar-right' method='POST' action='{% url "adoa:auth_login" %}'>{% csrf_token %}
              <div class='form-group'>
                  <input type='text' class='form-control' name='username' placeholder='Usuario' />
              </div>
              <div class='form-group'>
                  <input type='password' class='form-control' name='password' placeholder='Contraseña' />
              </div>
              <button type='submit' class='btn btn-default'>Entrar</button>
          </form>
          {% endif %}


        </div><!--/.nav-collapse -->

    </nav>
