{% extends "base.html" %}<h1>Actividades:</h1>
{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>

{% block head_title %}Contenidos del OA | {{ block.super }}{% endblock %}
{% block style %}

.center {
    margin: auto;
    width: 10%;
    padding: 10px;
}

{% endblock %}

{% block jumbotron %}{% endblock %}

{% block content %}
<h1>Actividades:</h1>
<form method="post" class="uniForm" action="{% url 'oa_actividades' %}">
  {% csrf_token %}
  {{ actividad_formset|crispy }}
  <center><button type='submit' class='btn btn-success'>Contiunar</button></center>
</form>
{% endblock %}
