{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<!-- {% crispy form %} -->



{% block head_title %}Contenidos del OA | {{ block.super }}{% endblock %}
{% block style %}

.center {
    margin: auto;
    width: 10%;
    padding: 10px;
}

{% endblock %}

{% block jumbotron %}


{% endblock %}

{% block content %}
  <form  method="post">
    {% csrf_token %}
    {% for actividad_form in actividad_formset %}
          <div class="actividad-formset">
            {% crispy actividad_form  %}
          </div>
    {% endfor %}
    <div class='well'><center><button type='submit' class='btn btn-success'>Contiunar</button></center></div>
  </form>
{% endblock %}
