{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>

{% block head_title %}Contenidos del OA | {{ block.super }}{% endblock %}
{% block style %}

.center {
    margin: auto;
    width: 10%;
    padding: 10px;
}

{% endblock %}

{% block jumbotron %}
 {% if not request.user.is_authenticated %}
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
       <!--  <div class="col-xs12"><img src="{% static 'img/index/redes.png' %}" class="img-responsive" alt="Placeholder image"> </div> -->
      </div>
    </div>
  </div>
 {% endif %}
{% endblock %}

{% block content %}
<h1>Contenidos:</h1>
<form method="post" class="uniForm" action="{% url 'oa_contenidos' %}">
  {% csrf_token %}
  {{ contenido_formset|crispy }}
  <center><button type='submit' class='btn btn-success'>Contiunar</button></center>
</form>
{% endblock %}
