{% extends "base.html" %}<h1>Actividades:</h1>
{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>

{% block head_title %}Contenidos del OA | {{ block.super }}{% endblock %}
{% block style %}

.center {
    margin: auto;
    width: 10%;
    padding: 10px;
}

{% endblock %}

{% block jumbotron %}
 {% if not request.user.is_authenticated %}
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
       <!--  <div class="col-xs12"><img src="{% static 'img/index/redes.png' %}" class="img-responsive" alt="Placeholder image"> </div> -->
      </div>
    </div>
  </div>
 {% endif %}
{% endblock %}

{% block content %}
{% csrf_token %}
<h1>Se ha guardado correctamente el objeto de aprendizaje:</h1>
<h1>ID:</h1>
{{ oa.id }}
{% include '_oa_details.html' %}
{% endblock %}
