{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load get_name %}
{% load staticfiles %}
{% load debug_tags %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'js/objeto_aprendizaje.js' %}"></script>
{% endblock %}
{% block content %}
<h1>Objeto y contenidos</h1>
<form action="{% url 'adoa:new'%}" method="post">
{% csrf_token %}

{{ form.titulo|as_crispy_field }}
{{ form.patron|as_crispy_field }}
<br>
<a href="{% url 'adoa:patrones' %}">Que patron elegir? </a>
{{ form.descripcion|as_crispy_field }}

{% for formset in inlines %}
  {% with formset.model|to_class_name|lower as model_name %}
    {% if forloop.first %}
      <h2>{{ model_name|title }}s</h2>
    {% endif %}
    <input class={{model_name}}-amount type=number value={{formset|length}} hidden>
    <div class={{model_name}}-formset>
      {{formset|crispy}}
    </div>
    {% if forloop.first %}
      <a class=add-contenido href="javascript:void(0)">Agregar</a>
      <h2>Actividades</h2>
    {% endif %}
  {% endwith %}
{% endfor %}
<h3>Agregar actividades</h3>

<select class=select-actividad>
  <option value="">-------</option>
  <option value="vof">Verdadero o Falso</option>
  <option value="opcion_multiple">Opcion Multiple</option>
  <option value="asociacion">Asociacion</option>
  <option value="identificacion">Identificacion</option>
  <option value="ordenamiento">Ordenamiento</option>
</select>
<p class=no-patron href="javascript:void(0)">Por favor, seleccione un patron para continuar.</p>
<input class=send-form type="submit" value="Submit" />
</form>
{% endblock %}
