{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block jumbotron %}
 {% if not request.user.is_authenticated %}
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
       
      </div>
    </div>
  </div>
 {% endif %}
{% endblock %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>Password Reset</h1>
<p class='lead'>Reset your password using your email below.</p>
<form method="post" action=".">
  {% csrf_token %} 
    {{ form|crispy }}

  <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
</form>
</div>
{% endblock %}


