{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Registrar | {{ block.super }}{% endblock %}

{% block jumbotron %}
 {% if not request.user.is_authenticated %}
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
      
      </div>
    </div>
  </div>
 {% endif %}
{% endblock %}

{% block content %}
<nav class="navbar navbar-light bg-faded">
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<center><h1>¡ Regístrese gratis !</h1></center>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}
  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
</form>
</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Si ya tenés una cuenta, <a href="{% url 'auth_login' %}">ingresá aquí</a>?</p>
</div>
</div>
</nav>


{% endblock %}
